
.contenido1{
	min-height: 400px;
	background-color: gray;
	padding: 18px 20px;
}

.contenido2{
	min-height: 300px;
	background-color: gray;
	padding: 18px 20px;
}

.contenido3{
	min-height: 250px;
	background-color: gray;
	padding: 18px 20px;
}

.contenido4{
	min-height: 200px;
	background-color: gray;
	padding: 18px 20px;
}

.contenido5{
	min-height: 400px;
	background-color: gray;
	padding: 18px 20px;
}


.contenido6{
	min-height: 200px;
	background-color: gray;
	padding: 18px 20px;
}

.contenido7{
	min-height: 700px;
	background-color: gray;
	padding: 18px 20px;
}

.contenido8{
	min-height: 700px;
	background-color: gray;
	padding: 18px 20px;
}

.contenido9{
	min-height: 700px;
	background-color: gray;
	padding: 18px 20px;
}
.contenido10{
	min-height:300px;
	background-color: gray;
	padding: 18px 20px; 
	}

.small, .medium, .large {
	background-color: gray;
	margin-bottom: 14px;
}

.small {
	height: 200px;
}

.medium {
	height: 300px;
}

.large {
	height: 400px;
}

.contenido11{
	min-height:550px;
	background-color: gray;
	padding: 18px 20px; 
	}





